/* @extends */
/* font */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
.light, h1, h2, h3, #releases h4, #events .list li .date .day, .item .detail .price, .modal-content .modal-header h4.modal-title {
  font-weight: 300; }

.regular, .wellcome .bg-home > div h2, #releases .player .audiojs, #artists .perfil h4 {
  font-weight: 400; }

.bold, .btn.btn-default {
  font-weight: 700; }

.uppercase, h1, h2, nav.h_menu ul li a, .list li a:last-child, #releases .playlist .list li a:last-child, #events .list li .date .month_year, #events .list li .place, #artists .perfil h4, .item .detail h4, .item .detail .zoom, .item .detail .category, .modal-content .modal-header h4.modal-title {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

/* colors */
.black, h1, h2, .admin {
  color: #030c07; }

.white, .btn.btn-default.white {
  color: #ffffff; }

.gold, .btn.btn-default.gold, #events .list li .date .day, #artists .perfil h4, .item .detail h4, .item .detail .zoom .icon-z {
  color: #d0c38e; }

.l-grey, #releases h4, #releases .playlist .list li a:first-child:hover, #events .list li .date .month_year, #events .list li .date .month_year span:first-child, #events .list li .place, #artists .perfil p, .item .detail p, .item .detail .category, .item .detail .description, .item .detail .price {
  color: #dadad8; }

.d-grey {
  color: #333333; }

/* Grid */
.gutter, #releases .cover {
  padding: 15px; }

body {
  background: #161815;
  color: #d0c38e;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px; }

header {
  margin-top: -67px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 100%; }

h1 {
  font-size: 5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 3.5em;
  margin-bottom: 0.5em; }

ul, ol {
  padding-left: 0;
  list-style-type: none; }

img {
  max-width: 100%; }

a {
  color: #d0c38e;
  display: block; }

section {
  padding: 30px 0; }

section > h3 {
  margin-left: 15px; }

a:focus,
a:hover {
  color: #ffffff;
  text-decoration: none; }

/* buttons bootstrap costumized */
.btn.btn-default {
  color: #030c07;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #030c07;
  line-height: 80%;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  font-size: 0.9em;
  letter-spacing: 4px; }
  .btn.btn-default.gold, #events .list li .date .btn.btn-default.day, #artists .perfil h4.btn.btn-default, .item .detail h4.btn.btn-default, .item .detail .zoom .btn.btn-default.icon-z {
    border-color: #d0c38e; }
    .btn.btn-default.gold:hover, #events .list li .date .btn.btn-default.day:hover, #artists .perfil h4.btn.btn-default:hover, .item .detail h4.btn.btn-default:hover, .item .detail .zoom .btn.btn-default.icon-z:hover {
      border: 2px solid #d0c38e;
      box-shadow: inset 0px -3px 0px 0px #d0c38e; }
  .btn.btn-default.white {
    border-color: #ffffff; }
    .btn.btn-default.white:hover {
      border: 2px solid #ffffff;
      box-shadow: inset 0px -3px 0px 0px #ffffff; }
  .btn.btn-default:hover {
    border: 2px solid #030c07;
    box-shadow: inset 0px -3px 0px 0 black; }

/* Wellcome */
.wellcome img {
  position: absolute;
  top: 60px;
  right: 60px; }

.wellcome a.btn {
  font-size: 15px; }

.wellcome .bg-home {
  background: url("../images/bg_home.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wellcome .bg-home > div {
    margin-top: -60px;
    text-align: center; }
    .wellcome .bg-home > div h1 {
      letter-spacing: 10.5px; }
    .wellcome .bg-home > div .btn {
      margin-top: 30px; }

/* Navbar */
.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #ffffff; }

nav.h_menu {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 7.5px;
  overflow: hidden; }
  nav.h_menu .navbar-brand {
    height: auto;
    padding: 0; }
  nav.h_menu img {
    float: left; }
  nav.h_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    nav.h_menu ul li {
      display: block;
      text-align: center; }
      nav.h_menu ul li a {
        padding: 15px;
        font-size: 18px; }
      nav.h_menu ul li:hover, nav.h_menu ul li:focus {
        color: #d0c38e;
        text-decoration: none;
        background-color: transparent; }
  nav.h_menu.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; }
  nav.h_menu .logOut p {
    margin: 1em 0; }
    nav.h_menu .logOut p a {
      display: inline-block; }

/* list items */
.list li {
  border-bottom: 1px solid #333333;
  overflow: hidden;
  padding: 15px; }
  .list li:first-child {
    border-top: 1px solid #333333; }
  .list li a:last-child {
    float: right;
    display: none;
    font-size: 0.8em; }
    .list li a:last-child:hover {
      color: #d0c38e;
      border-bottom: 1px solid #d0c38e;
      text-decoration: none; }
  .list li:hover a:last-child {
    display: block; }

/* Releases */
#releases {
  background-color: #030c07;
  margin-top: -15px; }
  #releases h4 {
    font-size: 1.8em;
    margin-bottom: 15px; }
  #releases .player h5 {
    font-size: 1.3em;
    position: absolute;
    left: 105px;
    margin: 15px 0 0 0; }
  #releases .player .audiojs {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    height: inherit;
    display: flex; }
    #releases .player .audiojs .play-pause {
      width: auto;
      height: auto;
      border: none;
      padding: 0; }
      #releases .player .audiojs .play-pause p {
        padding: 30px;
        background-color: #333333;
        background-position: center 17px; }
    #releases .player .audiojs .scrubber {
      flex: 1;
      margin: 0;
      height: 7.5px;
      border: none;
      margin-left: 30px;
      margin-top: 50px; }
      #releases .player .audiojs .scrubber .progress {
        background-color: #d0c38e;
        background-image: none;
        border-radius: 0;
        box-shadow: none; }
      #releases .player .audiojs .scrubber .loaded {
        background-color: #333333;
        background-image: none; }
    #releases .player .audiojs .time {
      border: none;
      float: none;
      position: absolute;
      right: 15px;
      bottom: 23px;
      margin: 0;
      padding: 0;
      height: auto;
      line-height: 100%; }
  #releases .playlist {
    margin-top: 30px; }
    #releases .playlist .list li {
      border-bottom: 1px solid #333333;
      overflow: hidden;
      padding: 15px; }
      #releases .playlist .list li:first-child {
        border-top: 1px solid #333333; }
      #releases .playlist .list li a:first-child {
        color: #767670;
        text-decoration: none;
        display: block;
        float: left;
        clear: both; }
      #releases .playlist .list li a:last-child {
        float: right;
        display: none;
        font-size: 0.8em; }
        #releases .playlist .list li a:last-child:hover {
          color: #d0c38e;
          border-bottom: 1px solid #d0c38e;
          text-decoration: none; }
      #releases .playlist .list li:hover {
        background-color: #111310; }
        #releases .playlist .list li:hover a:last-child {
          display: block; }
  #releases .cover {
    background-color: #ced0cd;
    text-align: center; }
    #releases .cover .btn {
      margin: 15px auto; }
    #releases .cover small {
      display: block; }

/* events */
#events {
  padding: 60px 0; }
  #events .list li {
    padding: 30px 15px; }
    #events .list li .date {
      margin-right: 15px;
      margin-left: 0;
      float: left; }
      #events .list li .date .day {
        font-size: 3.5em;
        float: left;
        line-height: 80%; }
      #events .list li .date .month_year {
        margin-left: 7.5px;
        float: left; }
        #events .list li .date .month_year span {
          color: #5c5c57;
          display: block;
          line-height: 100%;
          font-size: 0.9em; }
          #events .list li .date .month_year span:first-child {
            font-size: 1.4em;
            margin-bottom: 0.35em; }
    #events .list li .place {
      float: left;
      text-align: left; }
      #events .list li .place h4 {
        font-size: 1.4em;
        margin-bottom: 0.28em; }
      #events .list li .place h5 {
        color: #5c5c57; }
    #events .list li .btn {
      float: none;
      display: block;
      font-size: 0.9em;
      clear: both;
      margin-top: 65px;
      overflow: hidden;
      letter-spacing: 4px; }
    #events .list li:hover {
      background-color: #111310; }

/* Artist */
#artists .container h3 {
  font-size: 2em; }

#artists .bg_artists {
  background: url("../images/artists/band.jpg") no-repeat top center;
  background-size: cover;
  padding-top: 58.25%; }

#artists .perfil h4 {
  margin-bottom: 15px;
  font-size: 1.8em; }

/* store */
.item {
  position: relative;
  margin-bottom: 30px; }
  .item img {
    width: 100%; }
  .item:hover .detail {
    opacity: 1; }
  .item .detail {
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    padding: 15px;
    text-align: center;
    background-color: rgba(22, 24, 21, 0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all .3s ease-in-out; }
    .item .detail h4 {
      font-size: 1.4em;
      margin-bottom: 0.4em;
      margin-top: 15px; }
    .item .detail .zoom {
      cursor: pointer;
      display: inline-block;
      margin: 4% 0; }
      .item .detail .zoom .icon-z {
        font-style: normal;
        font-weight: 300;
        display: inline-block;
        text-align: center;
        line-height: 100%;
        font-size: 2em; }
      .item .detail .zoom small {
        display: none;
        margin-top: 0; }
      .item .detail .zoom:hover {
        color: #d0c38e;
        text-decoration: none; }
    .item .detail .price {
      font-size: 1.8em;
      margin: 5% 0 2%; }
    .item .detail a.btn {
      margin: 15px 5px 0; }
      .item .detail a.btn i {
        float: left;
        font-size: 1.5em; }

/* Gallery */
#gallery .container {
  text-align: center; }
  #gallery .container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #gallery .container ul li {
      width: 100%;
      margin-bottom: 7.5px; }
  #gallery .container .btn {
    margin-top: 30px; }

/* footer */
#footer ul li {
  display: inline-block;
  margin: 0 5px; }
  #footer ul li a {
    font-size: 25px; }

/* ADMIN */
.admin {
  background-color: #ffffff; }
  .admin h2 {
    margin: 15px 0 30px; }
  .admin .filter {
    margin-bottom: 30px;
    margin-top: 60px; }
  .admin .detail a {
    display: inline-block; }

/* forms */
.form-control {
  height: auto;
  padding: 6px 15px;
  font-size: 16px;
  border: none;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-bottom: 2px solid #000;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .form-control:focus {
    border-color: #d0c386;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

.form-group {
  margin-bottom: 30px; }

.modal-content {
  background-color: transparent; }
  .modal-content .modal-header .close {
    font-size: 50px;
    font-weight: 200;
    line-height: 92%;
    color: #fff;
    text-shadow: none;
    opacity: 1; }
  .modal-content .modal-header h4.modal-title {
    font-size: 32px; }
  .modal-content .modal-body {
    background-color: #ffffff; }

.modal-backdrop.in {
  opacity: .8; }

/* navbar custom */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 7.5px; }

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0; }
  .navbar-toggle .icon-bar {
    width: 30px;
    background-color: #d0c38e; }

/* carrousel bootstrap costumized */
.carousel-caption {
  top: 25%; }

/* @media */
@media screen and (min-width: 1px) {
  .col-sm-6 + .col-sm-6 {
    margin-top: 30px; } }

@media screen and (min-width: 480px) {
  .item .detail .zoom {
    margin: 7% 0; }
    .item .detail .zoom .icon-z {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid #d0c38e;
      font-size: 2em;
      padding: 5px 0px 0 2px;
      line-height: 145%; }
    .item .detail .zoom small {
      display: block;
      margin-top: 7.5px; }
  #artists .container h3 {
    font-size: 2.5em; } }

@media screen and (min-width: 768px) {
  .col-sm-6 + .col-sm-6 {
    margin-top: 0; }
  .navbar-collapse.collapse {
    background-color: transparent; }
  nav.h_menu ul li {
    display: inline-block; }
  section {
    padding: 60px 30px; }
    section .container {
      padding: 15px 30px; }
  #events h3 {
    margin-left: 30px; }
  #events .list li .date {
    margin-right: 15px;
    margin-left: 15px; }
  #events .list li .place {
    margin-left: 45px; }
  #events .list li .btn {
    display: none;
    float: right;
    clear: inherit;
    margin-top: 0;
    overflow: inherit; }
  #events .list li:hover .btn {
    display: block; }
  #gallery .container ul li {
    width: 24%;
    margin-right: 1%; }
  #artists .container h3 {
    font-size: 2.3em; }
  #artists .bg_artists {
    padding-top: 29.125%; } }

@media screen and (min-width: 990px) {
  nav.h_menu ul li {
    margin: 0 7.5px; }
  #artists .container h3 {
    font-size: 3.1em; } }

@media screen and (min-width: 1200px) {
  .item .detail h4 {
    font-size: 1.8em;
    margin-top: 30px; }
  .item .detail .zoom {
    margin: 15% 0; }
  #artists .container h3 {
    font-size: 3.5em; } }
