doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Böira post rock
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    include includes/styles
  body
    header
      include includes/wellcome
      include includes/navbar
    block content
    footer
      include includes/footer
    include includes/scripts