<div class="col-md-4">
    <h1>{{ section }}</h1>
    <h2>Edit {{ title }}</h2>
</div>
<div class="col-md-8">
    <div ng-controller="editController">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input value="{{ title }}" ng-model="title" type="text" class="form-control" id="title" placeholder="Title...">
                    </div>
                    <div class="form-group">
                        <label for="image">Url image</label>
                        <input value="{{ image }}" name="image" ng-model="image" type="text" class="form-control" id="image" placeholder="url image...">
                    </div>
                    <div class="form-group">
                        <label for="subtitle">Subtitle</label>
                        <input value="{{ subtile }}" name="subtitle" ng-model="subtitle" type="text" class="form-control" id="subtitle" placeholder="Subtitle...">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input value="{{ description }}" name="description" ng-model="description" type="text" class="form-control" id="description" placeholder="Description...">
                    </div>
                    <div class="form-group">
                        <label for="category">Category slug</label>
                        <input value="{{ category }}" name="category" ng-model="category" type="text" class="form-control" id="category" placeholder="Category slug...">
                    </div>
                    <div class="form-group">
                        <label for="categoryGroup">Category description</label>
                        <input value="{{ categoryGroup }}" name="categoryGroup" ng-model="categoryGroup" type="text" class="form-control" id="categoryGroup" placeholder="Category description...">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input value="{{ price }}" ng-model="price" type="text" class="form-control" id="price" placeholder="Price...">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="updateProduct()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>