section#artists
  h3 Artists
  .perfil
    .row
      .col-sm-4.col-sm-offset-7
        h4 Clara Aguilar
        p
          | BÖIRA ÉS UN PROJECTE QUE NEIX A FINALS DEL 2012 AMB LA VOLUNTAT DE BUSCAR UNA SONORITAT A CAMÍ ENTRE EL ROCK INSTRUMENTAL I LES ATMÓSFERES DE LES BANDES SONORES.
        p
          | L’eclecticisme és un concepte que defineix a Böira, tant en els gustos i l’herència de cada membre com en les diferents cançons que conformen el seu primer disc ‘Si de la runa naixés’. Composat entre el 2013 i el 2014, el disc va veure la llum el juliol del 2015 de manera autoeditada de la mà de Bloq estudi, que dirigeix un dels guitarres de Böira Aleix Archs. Els membres del grup provenen del metall i del hardcore però el projecte que han creat en comú recull aquesta herència però va més enllà. Sense rebutjar-la, Böira aposta per una sonoritat diferent on el piano de Clara Aguilar es mescla amb les diferents melodies de les guitarres d’Archs i Guillem Alberich. A tot això, se li suma la base rítmica a les mans de Llobet (bateria) i Marc Rios (baix) que formen un tàndem equilibrat i enèrgic.
        p
          | El debut de Böira va ser el maig del 2014 amb la realització de la banda sonora per al curtmetratge ‘Sagnant/Bleeding’ de la directora Tatiana Dunyó. Gravada al prestigiós estudi The Room de
          | Barcelona, la banda sonora va tenir molt bona acollida ja que Böira va començar a despertar l’interès dels mitjans i les xarxes socials. Poc després de la composició de la banda sonora, el grup es va submergir en la gravació de ‘Si de la runa naixés’.
        p
          | El primer concert de Böira va ser el 22 de juny del 2014 a Sant Just Desvern (Barcelona) i des d’aquella data, la banda ha recorregut diferents espais com el teatre Cal Ninyo de Sant Boi de
          | Llobregat (Bcn, 2014), la sala BeCool (Bcn, 2014), la sala Razzmatazz (Bcn, 2015), el Konvent (Berga, 2015), la sala Apolo i Apolo Store (Bcn, 2016), el CCCB (Bcn, 2016), i festivals com el Voiceless de la sala pOp de Santa Coloma de Gramanet (2014), l’AMFest a La [2] d’Apolo el
          | novembre del 2015, el Let’s Festival amb Toundra (març, 2016), i el Primavera Sound (juny, 2016), a més d’un concert en directe al programa FEEEL de BTV (març, 2016).
        p
          | Durant la primavera del 2016, Böira ha estat al País Basc, a la sala Edaska de Barakaldo (Bilbao, 2016) i a Madrid a la sala Gruta 77, dins del festival Allatou Fest 2016 (juntament amb els francesos Man is not a Bird, entre altres), així com a El Límite Live de Collado Villalba (Madrid). La banda està a l’espera de nous projectes que veuran la llum en els propers mesos: Un documental sobre Böira (Escac Films), el segon disc que serà gravat a Aclam Records durant 2016, la banda sonora per a un documental sobre el terratrèmol el 2015 al Nepal i la participació en la pel·lícula ‘The Girl From the Song’.