section#footer
  span © Böira post rock 2017
  ul.pull-right
    li
      a(href='https://www.facebook.com/boirapostrock', target='_blank')
        i.fa.fa-facebook(aria-hidden='true')
    li
      a(href='https://twitter.com/boirapostrock', target='_blank')
        i.fa.fa-twitter(aria-hidden='true')
    li
      a(href='https://www.instagram.com/boirapostrock/', target='_blank')
        i.fa.fa-instagram(aria-hidden='true')
    li
      a(href='https://boiramusica.bandcamp.com/releases', target='_blank')
        i.fa.fa-bandcamp(aria-hidden='true')
