nav.h_menu
  img(src='images/boira_gold.png')
  ul
    li
      a(href='#') Releases
    li
      a(href='#') Events
    li
      a(href='#') Artists
    li
      a(href='#') Störe
    li
      a(href='#') Gallery
    li
      a(href='#') Press
    li
      a(href='#') Contact