section#releases
  h3 Releases
  .container
    h4 Si de la runa neixés
    .row
      .col-xs-12.col-sm-6
        .cover
          img(src='images/cover_si-de-la-runa-neixes.jpg', alt='Cover Si de la runa neixés')
          a.btn.btn-default(href='https://boiramusica.bandcamp.com/album/si-de-la-runa-naix-s', target='_blank') Buy album
        small Released at 2015
      .col-xs-12.col-sm-6
        iframe(src='https://open.spotify.com/embed/artist/4YidGHpgOHLscY3CEK0VYM', width='100%', height='388', frameborder='0', allowtransparency='true')