section#releases
  h3 Releases
  .container
    h4 Si de la runa neixés
    .row
      .col-xs-12.col-sm-6
        .cover
          img(src='images/cover_si-de-la-runa-neixes.jpg', alt='Cover Si de la runa neixés')
          a.btn.btn-default(href='#') Buy album
        small Released at 2015
      .col-xs-12.col-sm-6
        iframe(src='https://open.spotify.com/embed/artist/4YidGHpgOHLscY3CEK0VYM', width='300', height='380', frameborder='0', allowtransparency='true')