script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.js')
// sticky header
script(src='js/stickyHeaderCall.js')
// My javascript
script(src='js/scripts.js')