<div class="col-xs-12 col-md-4">
    <h1>{{ section }}</h1>
    <h2>Add, edit and remove items from your store</h2>
    <a class="btn btn-default" ng-click="toogle(options = !options)">{{ btnToogle }}</a>
</div>
<div class="col-xs-12 col-md-8">
    <div ng-controller="storeController">
        <div class="row" ng-hide="options">
            <div class="col-xs-12 filter">
                <p>Filter By Title:</p>
                <div class="btn-group">
                    <button type="button" ng-repeat="category in categories" class="btn btn-default" ng-model="selected[category]" btn-checkbox ng-class="{active: category == selectedCategory}" ng-click="setSelectedTitle(category)">{{category}}
                    </button>
                </div>
            </div>
            <div class="row">   
                <div class="col-xs-12 col-sm-6" ng-repeat="product in products | filter:byCategory">
                    <div class="item">
                        <img ng-src="{{ product.imageLink }}" alt="" />
                        <div class="detail">
                            <h4>{{ product.title }}</h4>
                            <p>{{ product.subtitle }}</p>
                            <div class="category">{{ product.categoryGroup }}</div>
                            <small class="description">{{ product.description }}</small>
                            <div class="price"> {{ product.price }}</div>
                            <!-- ng-model="selected[id]" -->
                            <p>
                                <a ng-href="#!/store/{{ product._id }}" ng-click="showProduct(product._id)" class="btn btn-default gold" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a ng-href="" ng-click="removeProduct(product._id)" class="btn btn-default gold" ><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="options" class="row">
            <div class="col-xs-12 col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input ng-model="title" type="text" class="form-control" id="title" placeholder="Title...">
                    </div>
                    <div class="form-group">
                        <label for="subtitle">Subtitle:</label>
                        <input name="subtitle" ng-model="subtitle" type="text" class="form-control" id="subtitle" placeholder="Subtitle...">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input name="description" ng-model="description" type="text" class="form-control" id="description" placeholder="Description...">
                    </div>
                    <div class="form-group">
                        <label for="category">Category slug:</label>
                        <input name="category" ng-model="category" type="text" class="form-control" id="category" placeholder="Category slug...">
                    </div>
                    <div class="form-group">
                        <label for="categoryGroup">Category description:</label>
                        <input name="categoryGroup" ng-model="categoryGroup" type="text" class="form-control" id="categoryGroup" placeholder="Category description...">
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input ng-model="price" type="text" class="form-control" id="price" placeholder="Price...">
                    </div>
                    
                    <div class="form-group image-preview">
                        <input ng-model="file.name" placeholder="" type="text" class="form-control image-preview-filename" ng-disabled="true">
                        <!-- don't give a name === doesn't send on POST/GET -->
                        <span class="input-group-btn">
                          <!-- image-preview-clear button -->
                          <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                          <span class="glyphicon glyphicon-remove"></span> Clear </button>
                          <!-- image-preview-input -->
                          <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input ngf-select="fileSelected($files)" type="file" accept="'image/*'" name="file" />
                            <!-- rename it -->
                          </div>
                          <button ng-click="uploadFile()" type="button" class="btn btn-labeled btn-primary">
                            <i ng-hide="uploading" class="glyphicon glyphicon-upload"></i>
                            <i ng-show="uploading" class="glyphicon glyphicon-refresh"></i>
                            <span>Upload</span>
                          </button>
                        </span>
                      </div>
                      <!-- /input-group image-preview [TO HERE]-->

                    <button type="submit" class="btn btn-default" ng-click="add()">Add product</button>
                </form>
            </div>
            <div class="col-md-6">
              <img class="img-responsive preview" ng-src="{{ imageLink }}" alt="">
            </div>
        </div>
    </div>
</div>