<div class="col-md-4">
    <h1>{{ section }}</h1>
    <h2>Add, edit and remove items from your store</h2>
    <a class="btn btn-default" ng-href="/addProduct">Add product</a>
</div>
<div class="col-md-8">
    <div ng-controller="storeController">
        Filter By Title: 
        <div class="btn-group">
            <button 
                type="button" 
                ng-repeat="category in categories" 
                class="btn btn-default" 
                ng-model="selected[category]" 
                btn-checkbox 
                ng-class="{active: category == selectedCategory}" 
                ng-click="setSelectedTitle(category)">{{category}}
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6" ng-repeat="product in products | filter:byCategory">
                <div class="item">
                    <img ng-src="{{ product.url }}" alt="" />
                    <div class="detail">
                        <h4>{{ product.title }}</h4>
                        <p>{{ product.subtitle }}</p>
                        <div class="category">{{ product.category.description }}</div>
                        <small class="description">{{ product.description }}</small>
                        <div class="price"> {{ product.price }}</div>
                        <a href="#" class="btn btn-default gold">Edit</a>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>