$brand: #d0c38e;
$brand_bg: #161815;
$black: #030c07;
$dark_grey: #333333;
$light_grey: #dadad8;

$gutter: 15px;

/* @extends */

/* font */
	.light {
		font-weight: 300;
	}
	.regular {
		font-weight: 400;
	}
	.bold {
		font-weight: 700;
	}
	.uppercase {
		text-transform: uppercase;
	}
	.lowercase {
		text-transform: lowercase;
	}

/* colors */
	.black {
		color: $black;
	}
	.gold {
		color: $brand;
	}
	.l-grey {
		color: $light_grey;
	}
	.d-grey {
		color: $dark_grey;
	}

/* Grid */
	.gutter {
		padding: $gutter;
	}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

body {
	background: $brand_bg;
	color: $brand;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 100%;
}
h1, h2 {
	@extend .light;
	@extend .black;
	@extend .uppercase;
}
h1 {
	font-size: 5em;

}
h2 {
	font-size: 1.3em;
}
h3 {
	@extend .light;
	font-size: 3.5em;
	margin-bottom: 0.5em;
}
ul, ol {
	padding-left: 0;
	list-style-type: none;
}
img {
	max-width: 100%;
}
a {
	color: $brand;
	display: block;
}
section {
    padding: $gutter * 2 0;
}

/* Wellcome */

.wellcome {
	img {
		position: absolute;
		top: $gutter * 4;
		right: $gutter * 4;
	}
	.bg-home {
		background: url('../images/bg_home.jpg') center center no-repeat;
		background-size: cover;
		min-height: 678px;
		display: flex;
		justify-content: center;
		align-items: center;

		> div {
		    margin-top: - $gutter * 4;
			text-align: center;
			h1 {
			    letter-spacing: 10.5px;
			}
			h2 {
				@extend .regular;
			}
			.btn {
				margin-top: $gutter * 2;
			}
		}
	}
}

/* Navbar */

nav {
	background-color: $black;
	padding: $gutter / 2;
	img {
		float: left;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none; 
		li {
			display: inline-block;
			a {
				@extend .uppercase;
				padding: $gutter;
			}
		}
	}
}

/* list items */

.list {
	li {
		//@extend .gutter;
		border-bottom: 1px solid $dark_grey;
		overflow: hidden;
		padding: $gutter;

		&:first-child {
			border-top: 1px solid $dark_grey; 
		}
		a:last-child {
			@extend .uppercase;
			float: right;
			display: none;
			font-size: 0.8em;

			&:hover {
				color: $brand;
				border-bottom: 1px solid $brand;
				text-decoration: none;
			}
		}
		&:hover {
			a:last-child {
				display: block;	
			}
		}
	}
}

/* Releases */
#releases{
	background-color: $black;
	margin-top: 4px; 
	h4 {
		@extend .l-grey;
		@extend .light;
		font-size: 1.8em;
		margin-bottom: $gutter;
	}
	.player {
		h5 {
			font-size: 1.3em;
		    position: absolute;
		    left: $gutter * 7;
		    margin: $gutter 0 0 0;
		}
		.audiojs {
			@extend .regular;
			font-family: 'Roboto Condensed', sans-serif;
			width: 100%;
			background-color: transparent;
			background-image: none;
			box-shadow: none;
			height: inherit;
			display: flex;

			.play-pause {
				width: auto;
				height: auto;
				border: none;
				padding: 0;
				p {
					// width: ($gutter * 4) - 10px;
					// height: ($gutter * 4) - 10px;
					padding: $gutter * 2;
					background-color: $dark_grey;
					background-position: center 17px;
				}
			}
			.scrubber {
				flex: 1;
				//width: 85%;
				margin: 0;
				height: $gutter / 2 ;
				border: none;
				margin-left: $gutter * 2;
				margin-top: 50px;

				.progress {
					background-color: $brand;
					background-image: none;
					border-radius: 0;
					box-shadow: none;
				}
				.loaded {
					background-color: $dark_grey;
					background-image: none;	
				}
			}
			.time {
				border: none;
			    float: none;
			    position: absolute;
			    right: $gutter;
			    bottom: $gutter + 8px;
			    margin: 0;
			    padding: 0;
			    height: auto;
			    line-height: 100%;
			}
		}
	}
	.playlist {
		margin-top: $gutter*2;

		.list {
			li {
				border-bottom: 1px solid $dark_grey;
				overflow: hidden;
				padding: $gutter;

				&:first-child {
					border-top: 1px solid $dark_grey; 
				}
				a {
					&:first-child {
						color: darken($light_grey, 40%);
						text-decoration: none;
						display: block;
						float: left;
			    		clear: both;

						&:hover {
							@extend .l-grey;	
						}
					}
					&:last-child {
						@extend .uppercase;
						float: right;
						display: none;
						font-size: 0.8em;

						&:hover {
							color: $brand;
							border-bottom: 1px solid $brand;
							text-decoration: none;
						}
					}
				}
				&:hover {
					background-color: darken($brand_bg, 2%);
					a:last-child {
						display: block;	
					}
				}
			}
		}
	}
	.cover {
		background-color: $light_grey;
		text-align: center;
		@extend .gutter;

		.btn {
			margin: $gutter auto;
		}
		small {
			display: block;
		}
	}
}

/* events */

#events {
	.list {
		li {
			.date {
				margin-right: $gutter;
				margin-left: $gutter;
				.day {
					@extend .light;
					@extend .gold;
					font-size: 3.5em;
				    float: left;
				    line-height: 80%;
				}
				.month_year {
					@extend .l-grey;
					@extend .uppercase;
					margin-left: $gutter / 2;
					float: left;

					span {
						color: darken($light_grey, 50%);
						display: block;
						line-height: 100%;
						font-size: 0.9em;

						&:first-child {
							@extend .l-grey;
							font-size: 1.4em;
							margin-bottom: 0.35em;
						}
					}

				}
			}
			.place {
				@extend .l-grey;
				@extend .uppercase;
				float: left;
				margin-left: $gutter * 3;

				h4 {
					font-size: 1.4em;
					margin-bottom: 0.4em;
				}
				h5 {
					color: darken($light_grey, 50%);
				}

			}
			&:hover {
				background-color: darken($brand_bg, 2%);
			}
		}
	}
}

/* Artist */
#artist {
} 

/* store */
.item {
	position: relative;
	img {
		width: 100%;
	}
	&:hover {
		.detail {
			//opacity: 1;
		}
	}
	.detail {
		opacity: 1;
		position: absolute;
	    top: $gutter;
	    left: $gutter;
	    right: $gutter;
	    bottom: $gutter;
	    padding: $gutter;
		text-align: center;
		background-color: rgba(22, 24, 21, 0.8);
	    display: flex;
		align-items: center;
    	flex-direction: column;
		transition: all .3s ease-in-out;

		h4 {
			@extend .uppercase;
			@extend .gold;
			font-size: 1.4em;
			margin-bottom: 0.4em;
			margin-top: $gutter;
		}
		p {
			@extend .l-grey;
		}
		.zoom {
			display: inline-block;
			@extend .uppercase;
		    margin: 15% 0; 
			
			.icon-z {
				@extend .gold;
		   	 	width: $gutter * 4;
		    	height: $gutter * 4;
			    border-radius: 50%;
			    border: 2px solid #d0c38e;
			    font-size: 2em;
			    padding: 5px 0px 0 2px;
			    font-style: normal;
			    font-weight: 300;
			    display: inline-block;
			    text-align: center;
			}
			small {
				display: block;
				margin-top: $gutter / 2;
			}
			&:hover {
				color: $brand;
				border-bottom: 1px solid $brand;
				text-decoration: none;
			}
		}
		.category {
			@extend .uppercase;
			@extend .l-grey;
		}
		.description {
			@extend .l-grey;
		}
		.price {
			@extend .l-grey;
			@extend .light;
			font-size: 1.8em;
			margin: 5% 0 2%;;
		}
	}
}

/* Gallery */
#gallery .container { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	div {
	    width: 49%;
    	margin-bottom: $gutter / 2;
    	margin-right: 1%;
	}
}

/* buttons bootstrap costumized */
	.btn.btn-default {
		@extend .bold;
		color: $black;
		border-radius: 2px;
		background-color: transparent;
		border: 2px solid $black;
		line-height: 80%;
		padding: $gutter $gutter * 2;
		text-transform: uppercase;
		transition: all .3s ease-in-out;

		&.gold {
			@extend .gold;
			border-color: $brand;
		}

		&:hover {
			box-shadow: 0px 2px 4px rgba(0,0,0, 1);
		}
	}

/* carrousel bootstrap costumized */

.carousel-caption {
	top: 25%;
}

/* @media */

@media screen and (min-width: 1px) { 
	.col-sm-6 + .col-sm-6 {
			margin-top: $gutter * 2
	}
}
@media screen and (min-width: 768px) {
	.col-sm-6 + .col-sm-6 {
			margin-top: 0;
	}
	section {
		.container {
			padding: $gutter * 1 $gutter * 2;
		}
	    padding: $gutter * 1 $gutter * 2;
	}

	/* gallery */
	#gallery .container { 

		div {
		    width: 24%;
	    	margin-right: 1%;
		}
	}
}